* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #eee;
  border-radius: 14px;
  margin-right: 17px;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
  border-radius: 14px;
}

body {
  width: 100vw;
  height: 100vh;
}

.body {
  width: 100%;
  height: 100%;
  background-image: url("images/wp3.jpg");
  /* background-position: center 0; */
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
}

.container {
  display: block;
  /* margin: 0 auto; */
  padding: 4px;
}

/* 
.oppa-info {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  padding: 20px;
  border: 4px solid #ccc;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.oppa-info:hover {
  color: blue;
}

.oppa-music {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  padding: 20px;
  border: 4px solid #ccc;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
}

.oppa-music:hover {
  color: blue;
} */

.oppa {
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  color: black;
  text-decoration: none;
  padding: 15px;
  border: 4px solid #ccc;
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  width: fit-content;
  font-size: 14px;
}

.oppa:hover {
  color: blue;
}

/* @media only screen and (max-width: 1100px) {
  .oppa {
    font-size: 1px;
  }
} */

@media only screen and (max-width: 678px) {
  .oppa {
    font-size: 16px;
  }
}



.pop-up {
  transition: all 1s linear;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
}

.pop-up-close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #222;
  color: white;
  font-size: 2rem;
  padding: 15px;
  z-index: 2;
  cursor: pointer;
}

.pop-up .grid {
  width: 80%;
  height: 90%;
  background: white;
  margin: 10px auto;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 325px; */
}

@media only screen and (max-width: 1000px) {
  .grid-row {
    display: flex;
    flex-direction: column;
  }
}

.grid-row .content {
  margin: 5px;
  /* margin so the border doesnt stick to the image */
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  height: fit-content;
  /* Height as fit-content as the text was overflowing */
  align-self: center;
  /* Align the div to center vertically */
}

.image {
  overflow: hidden;
  border-radius: 15px;
  /* its the image class which will need border radius */
  /* it will be the main div shown */
}

.image img {
  width: 100%;
  height: auto;
  /* border-radius: 15px; */
}